
.wrap-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    // -webkit-align-items: center;
    // -moz-align-items: center;
    // -o-align-items: center;
    // -ms-align-items: center;
    // align-items: center;
}

.wrap-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column
}

.thumb58{
    // display: block;
    width:58px;
    height:73px;
    border:1px solid $line-grey;
}
.thumb60{
    width:58px;
    height:58px;
    border: solid 1px $line-grey;
}
.thumb69{
    width:69px;
    height:50px;
    border: solid 1px $line-grey;
}

.title-cont {
    position: relative;
    padding-left: 30px;
}

.title-cont:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: 0 2px 2px 0;
    background-color: #ff4621;
}

/* tabmenu */
.list-tab {
    @include flexbox();
    flex-wrap: nowrap;
    overflow-x: auto;
    padding:0 20px;
    -webkit-overflow-scrolling: touch; 
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    border-bottom:1px solid $line-grey;
    scrollbar-width: none;
    -ms-overflow-style: none;

    li{
        position: relative;
        flex: 0 0 auto;
        margin-right: 24px;
        font-size:14px;
        line-height:48px;
        text-align: center;
        box-sizing: border-box;
        &:last-child{
            padding-right:35px;
        }
        &.on{
            .link-tab{
                width:100%;
                color:$green;
                font-weight:bold;
            }
            &:after{
                position: absolute;
                bottom:0;
                left:0;
                content: '';
                width:100%;
                height:2px;
                background-color:$green;
            }
        }
    }
}
.list-tab::-webkit-scrollbar {
    display: none; 
}


.tab-cont div {
    display: none;
}


.tbl {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    // table-layout: fixed;
}

.tbl thead th {
    padding: 10px 15px;
    background-color: #f7f8fa;
    /* border-left: 1px solid #e6e6e6; */
    border-bottom: 1px solid #f0f1f5;
    font-size: 12px;
    color: #666;
    text-align: left;
}

.tbl td {
    /* border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6; */
    // font-size: 11px;
    line-height: 26px;
    text-align: center;
}

.tbl thead {
    border-radius: 4px;
}

.tbl tbody tr {
    border-bottom: 1px solid #f0f1f5;
}

.tbl .inner-cell {
    padding: 10px 10px 10px
}

.tbl .inner-cell .btn_step {
    margin: 0;
}

/* table type2 */
.tbl-info {
    overflow: hidden;
    width: 100%;
    margin-bottom: 17px;
    border-spacing: 0;
    border-top: 1px solid #f0f1f5;
    border-bottom: 1px solid #f0f1f5;
}

.tbl-info .txt-info {
    font-size: 11px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #8e8e8e;
    margin-top: -1px;
}

.tbl-info th {
    border: 0 none;
    border-bottom: 1px solid #f0f1f5;
    background-color: #f7f8fa;
    text-align: left;
    padding-left: 24px;
    letter-spacing: -1px;
    line-height: 14px;
}

.tbl-info .line-last {
    border-bottom: none;
}

.td-type {
    border: 0 none;
    border-bottom: 1px solid #f0f1f5;
    padding: 15px 15px;
}

.label-type {
    margin: 0 13px 0 7px;
}

.box-intro {
    float: left;
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    resize: none;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 10px;
}

.thumb-content {
    overflow: hidden;
}

.thumb-content .btn-search {
    display: block;
    width: 61px;
    height: 38px;
    margin-left: -1px;
    border: solid 1px #e6e6e6;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
}

.thumb-content .chfile {
    overflow: hidden;
    width: 0;
    text-indent: -9999px;
}

/* checkbox-radiobox 공통 */
.set-comm {
    overflow: hidden;
    position: relative;
}

.set-comm+.set-comm {
    margin-left: 18px;
}

.set-comm.set-comm-typ2 {
    line-height: 0;
    vertical-align: middle;
}

.set-comm.set-comm-typ2 .lab-check {
    font-size: 0;
}

.inp-inner {
    padding-right: 40px;
}

.inp-comm .inp {
    width: 100%;
    min-height: 38px;
    padding: 7px 14px 7px 14px;
    border: 0 none;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}

.inp-comm .btn-search {
    position: absolute;
    top: 5px;
    right: 18px;
    width: 40px;
    height: 38px;
    text-indent: -9999px;
}

.inp-comm .btn-desc {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    padding: 3px 10px;
    border: 1px solid #eee;
}

/* checkbox  */
.set-comm .inp-check {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    border: 0;
    opacity: .01;
    -ms-filter: "alpha(opacity=1)";
    cursor: pointer;
}

.set-comm .lab-check {
    overflow: hidden;
    margin-bottom: 0;
    padding-left: 25px;
    font-size: 13px;
    color: #1e1e1e;
    line-height: 22px;
    cursor: pointer;
}

.set-comm .ico-check {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #f7f8fa;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background-image: url(../img/icon-check-default.png);
    background-size:16px 16px;
}

.set-comm .inp-check:checked+.lab-check .ico-check:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/icon-check-option.png);
    background-size:16px 16px;
}