
// .fixed{
//     position: fixed;
//     left:0;
//     top:0;
//     z-index: 99;
// }
.wrap-header.fixed{
    height:55px;
    .header{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 99;
        background-color:#fff;
        box-sizing: border-box;
    }
}
.header{
    .wrap-row{
        @include align-items(center);
    }
    .btn-menu{
        display:block;
        width:20px;
        height:18px;
        background-image: url(../img/icon-menu.png);
        background-repeat:no-repeat;
        background-size:20px 18px;
        text-indent: -9999px;
        border:0 none;
    }
    .btn-back{
        display:block;
        width:20px;
        height:16px;
        background-image:url(../img/icon-back.png);
        background-repeat:no-repeat;
        background-size:20px 18px;
        text-indent: -9999px;
    }
    .title{
        @include ellipse-one(100%);
        padding-left:12px;
        line-height:16px;
    }
    .search-text{
        @include ellipse-one(100%);
        font-size:16px;
        padding-left:12px;
        line-height:20px;
        font-weight:bold;
    }
    .link-search{
        display:block;
        width:26px;
        height:21px;
        background-image: url(../img/icon-search2.png);
        background-repeat:no-repeat;
        background-size:22px 21px;
        text-indent: -9999px;
    }
}
.wrap-banner{
    padding:8px 0;
    background:$line-grey;
}
.wrap-cont-view{
    padding:14px 16px;
    .wrap-row{
        @include align-items(center);
    }
    .link-view{
        padding:6px 14px;
        border-radius: 2px;
        border: solid 1px #dedede;
    }
    .text-desc{
        padding-left:8px;
        font-size:11px;
        color:#000;
        font-weight:bold;
    }
}
.wrap-sort{
    padding:12px 16px;
    background-color:#f3f3f3;
    .wrap-row{
        @include justify-content(space-between);
    }
    .desc{
        font-weight:bold;
        font-size:11px;
    }
    .btn-sort{
        .text{
            vertical-align: middle;
            font-size:12px;
        }
        .icon-up{
            display:inline-block;
            width:5px;
            height:4px;
            background:url(../img/icon-arrow-up.png);
            background-size:5px 4px;
            vertical-align: middle;
        }
        .icon-down{
            display:inline-block;
            width:5px;
            height:4px;
            background:url(../img/icon-arrow-down.png);
            background-size:5px 4px;
            vertical-align: middle;
        }
        &.up{
            .text{
                font-weight:bold;
            }
            .icon-up{
                background:url(../img/icon-arrow-upOn.png);
                background-size:5px 4px;
            }
        }
        &.down{
            .text{
                font-weight:bold;
            }
            .icon-down{
                background:url(../img/icon-arrow-downOn.png);
                background-size:5px 4px;
            }
        }
    }
}
.wrap-add{
    margin:0 auto;
    // width:360px;
    height:30px;
    background-image: url(../img/thumb/title-big-jpad.png);
    background-color:#8CC53F;
    background-size:360px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    .wrap-row{
        @include align-items(center);
        padding:0 16px;
        height:30px;
    }
    .text-add{
        font-size:14px;
        color:#fff;
    }
    .desc-add{
        padding-left:6px;
        font-size:12px;
        color:#fff;
    }

}
.wrap-add2{
    background-image: url(../img/thumb/title-big-jpfree.png);
    background-color:#9DA3BB;
    background-size:360px 30px;
    background-repeat: no-repeat;
    background-position: center center;
}

.list-menu{
    @include flexbox();
    li{
        width:14.27%;
        height:41px;
        margin-top: 2px;
        margin-left: -1px;
        text-align:center;
        background: #82b012;
        border: 1px solid #70a00d;
        color: #dae7b8;
        .link-menu{
            display:block;
            width:100%;
            height:100%;
            border-radius: 3px;
            font-size:11px;
            color: #dae7b8;
            text-decoration: none;
            &:before{
                display:block;
                content: '';
                margin:0 auto;
                width:20px;
                height:22px;
                background:url(../img/cate_tab_spt.png) no-repeat;
                background-position:0 5px;
                background-size: 75px auto;
            }
        }
        .link-menu-eatery{
            &:before{
                background-position:0 -20px;
                background-size: 75px auto;
            }
        }
        .link-menu-west{
            &:before{
                background-position:0 -45px;
                background-size: 75px auto;
            }
        }
        .link-menu-ent{
            &:before{
                background-position:0 -70px;
                background-size: 75px auto;
            }
        }
        .link-menu-sales{
            &:before{
                background-position:0 -96px;
                background-size: 75px auto;
            }
        }
        .link-menu-service{
            &:before{
                background-position:0 -120px;
                background-size: 75px auto;
            }
        }
        .link-menu-etc{
            &:before{
                background-position:0 -145px;
                background-size: 75px auto;
            }
        }
    }
    li.on{
        margin-top: 0;
        border-radius: 3px;
        &:first-child{
            margin-left:0px;
        }
        .link-menu{
            height: 46px;
            
            background: #fff;
            font-weight: 700;
            color: #5f9408;
            text-align: center;
            &:before{
                background-position:-25px 5px;
            }
        }
    }
}
.cont-menu{
    overflow:hidden;
    padding:15px 0;
    white-space: nowrap;
}
.list-cont{
    display:inline-flex;
    width:100%;
    flex-wrap: wrap;
    // @include flexbox();
    li{
        width:20%;
        margin-bottom:10px;
        text-align:center;
        .link-cont-menu{
            display:block;
            .icon{
                width:36px;
                height:31px;
            }
            .text{
                display:block;
            }
            // &:before{
            //     content: '';
            //     margin:0 auto;
            //     display:block;
            //     width:36px;
            //     height:31px;
            //     background-image:url(../img/cont-menu1-1.png);
            //     background-size:36px 31px;
            // }
            // &.link-cont-menu1-2{
            //     &:before{
            //         background-image:url(../img/cont-menu1-2.png);
            //     }
            // }
            // &.link-cont-menu1-3{
            //     &:before{
            //         background-image:url(../img/cont-menu1-3.png);
            //     }
            // }
            // &.link-cont-menu1-4{
            //     &:before{
            //         background-image:url(../img/cont-menu1-4.png);
            //     }
            // }
            // &.link-cont-menu1-5{
            //     &:before{
            //         background-image:url(../img/cont-menu1-5.png);
            //     }
            // }
            // &.link-cont-menu1-6{
            //     &:before{
            //         background-image:url(../img/cont-menu1-6.png);
            //     }
            // }
            // &.link-cont-menu1-7{
            //     &:before{
            //         background-image:url(../img/cont-menu1-7.png);
            //     }
            // }
            // &.link-cont-menu1-8{
            //     &:before{
            //         background-image:url(../img/cont-menu1-8.png);
            //     }
            // }
            // &.link-cont-menu1-9{
            //     &:before{
            //         background-image:url(../img/cont-menu1-9.png);
            //     }
            // }
            // &.link-cont-menu2-1{
            //     &:before{
            //         background-image:url(../img/cont-menu2-1.png);
            //     }
            // }
            // &.link-cont-menu2-2{
            //     &:before{
            //         background-image:url(../img/cont-menu2-2.png);
            //     }
            // }
            // &.link-cont-menu2-3{
            //     &:before{
            //         background-image:url(../img/cont-menu2-3.png);
            //     }
            // }
            // &.link-cont-menu2-4{
            //     &:before{
            //         background-image:url(../img/cont-menu2-4.png);
            //     }
            // }
            // &.link-cont-menu2-5{
            //     &:before{
            //         background-image:url(../img/cont-menu2-5.png);
            //     }
            // }
            // &.link-cont-menu2-6{
            //     &:before{
            //         background-image:url(../img/cont-menu2-6.png);
            //     }
            // }
            // &.link-cont-menu2-7{
            //     &:before{
            //         background-image:url(../img/cont-menu2-7.png);
            //     }
            // }
            // &.link-cont-menu2-8{
            //     &:before{
            //         background-image:url(../img/cont-menu2-8.png);
            //     }
            // }
            // &.link-cont-menu2-9{
            //     &:before{
            //         background-image:url(../img/cont-menu2-9.png);
            //     }
            // }
            // &.link-cont-menu3-1{
            //     &:before{
            //         background-image:url(../img/cont-menu3-1.png);
            //     }
            // }
            // &.link-cont-menu3-2{
            //     &:before{
            //         background-image:url(../img/cont-menu3-2.png);
            //     }
            // }
            // &.link-cont-menu3-3{
            //     &:before{
            //         background-image:url(../img/cont-menu3-3.png);
            //     }
            // }
            // &.link-cont-menu3-4{
            //     &:before{
            //         background-image:url(../img/cont-menu3-4.png);
            //     }
            // }
            // &.link-cont-menu3-5{
            //     &:before{
            //         background-image:url(../img/cont-menu3-5.png);
            //     }
            // }
            // &.link-cont-menu3-6{
            //     &:before{
            //         background-image:url(../img/cont-menu3-6.png);
            //     }
            // }
            // &.link-cont-menu3-7{
            //     &:before{
            //         background-image:url(../img/cont-menu3-7.png);
            //     }
            // }
            // &.link-cont-menu4-1{
            //     &:before{
            //         background-image:url(../img/cont-menu4-1.png);
            //     }
            // }
            // &.link-cont-menu4-2{
            //     &:before{
            //         background-image:url(../img/cont-menu4-2.png);
            //     }
            // }
            // &.link-cont-menu4-3{
            //     &:before{
            //         background-image:url(../img/cont-menu4-3.png);
            //     }
            // }
            // &.link-cont-menu4-4{
            //     &:before{
            //         background-image:url(../img/cont-menu4-4.png);
            //     }
            // }
            // &.link-cont-menu4-5{
            //     &:before{
            //         background-image:url(../img/cont-menu4-5.png);
            //     }
            // }
            // &.link-cont-menu4-6{
            //     &:before{
            //         background-image:url(../img/cont-menu4-6.png);
            //     }
            // }
            // &.link-cont-menu4-7{
            //     &:before{
            //         background-image:url(../img/cont-menu4-7.png);
            //     }
            // }
            // &.link-cont-menu4-8{
            //     &:before{
            //         background-image:url(../img/cont-menu4-8.png);
            //     }
            // }
            // &.link-cont-menu4-9{
            //     &:before{
            //         background-image:url(../img/cont-menu4-9.png);
            //     }
            // }
            // &.link-cont-menu5-1{
            //     &:before{
            //         background-image:url(../img/cont-menu5-1.png);
            //     }
            // }
            // &.link-cont-menu5-2{
            //     &:before{
            //         background-image:url(../img/cont-menu5-2.png);
            //     }
            // }
            // &.link-cont-menu5-3{
            //     &:before{
            //         background-image:url(../img/cont-menu5-3.png);
            //     }
            // }
            // &.link-cont-menu5-4{
            //     &:before{
            //         background-image:url(../img/cont-menu5-4.png);
            //     }
            // }
            // &.link-cont-menu5-5{
            //     &:before{
            //         background-image:url(../img/cont-menu5-5.png);
            //     }
            // }
            // &.link-cont-menu5-6{
            //     &:before{
            //         background-image:url(../img/cont-menu5-6.png);
            //     }
            // }
            // &.link-cont-menu5-7{
            //     &:before{
            //         background-image:url(../img/cont-menu5-7.png);
            //     }
            // }
            // &.link-cont-menu5-8{
            //     &:before{
            //         background-image:url(../img/cont-menu5-8.png);
            //     }
            // }
            // &.link-cont-menu5-9{
            //     &:before{
            //         background-image:url(../img/cont-menu5-9.png);
            //     }
            // }
            // &.link-cont-menu6-1{
            //     &:before{
            //         background-image:url(../img/cont-menu6-1.png);
            //     }
            // }
            // &.link-cont-menu6-2{
            //     &:before{
            //         background-image:url(../img/cont-menu6-2.png);
            //     }
            // }
            // &.link-cont-menu6-3{
            //     &:before{
            //         background-image:url(../img/cont-menu6-3.png);
            //     }
            // }
            // &.link-cont-menu6-4{
            //     &:before{
            //         background-image:url(../img/cont-menu6-4.png);
            //     }
            // }
            // &.link-cont-menu6-5{
            //     &:before{
            //         background-image:url(../img/cont-menu6-5.png);
            //     }
            // }
            // &.link-cont-menu6-6{
            //     &:before{
            //         background-image:url(../img/cont-menu6-6.png);
            //     }
            // }
            // &.link-cont-menu6-7{
            //     &:before{
            //         background-image:url(../img/cont-menu6-7.png);
            //     }
            // }
            // &.link-cont-menu6-8{
            //     &:before{
            //         background-image:url(../img/cont-menu6-8.png);
            //     }
            // }
            // &.link-cont-menu6-9{
            //     &:before{
            //         background-image:url(../img/cont-menu6-9.png);
            //     }
            // }
            // &.link-cont-menu7-1{
            //     &:before{
            //         background-image:url(../img/cont-menu7-1.png);
            //     }
            // }
            // &.link-cont-menu7-2{
            //     &:before{
            //         background-image:url(../img/cont-menu7-2.png);
            //     }
            // }
            // &.link-cont-menu7-3{
            //     &:before{
            //         background-image:url(../img/cont-menu7-3.png);
            //     }
            // }
            // &.link-cont-menu7-4{
            //     &:before{
            //         background-image:url(../img/cont-menu7-4.png);
            //     }
            // }
            // &.link-cont-menu7-5{
            //     &:before{
            //         background-image:url(../img/cont-menu7-5.png);
            //     }
            // }
            // &.link-cont-menu7-6{
            //     &:before{
            //         background-image:url(../img/cont-menu7-6.png);
            //     }
            // }
            // &.link-cont-menu7-7{
            //     &:before{
            //         background-image:url(../img/cont-menu7-7.png);
            //     }
            // }
            // &.link-cont-menu7-8{
            //     &:before{
            //         background-image:url(../img/cont-menu7-8.png);
            //     }
            // }
            // &.link-cont-menu7-9{
            //     &:before{
            //         background-image:url(../img/cont-menu7-9.png);
            //     }
            // }
        }
    }
}
.wrap-item-fixed.fixed{
    height:132px;
    .item-fixed{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 99;
        background-color:#fff;
        box-sizing: border-box;
    }
}
.wrap-search{
    position: relative;
    padding:5px 16px;
    .inp-comm{
        background-color:$line-grey;
        border:0 none;
    }
    .ico-search{
        display: block;
        margin:0 auto;
        width:22px;
        height:21px;
        background-image:url(../img/icon-search3.png);
        background-size:22px 21px;
    }
}
.wrap-search + .wrap-desc{
    border-top:1px solid $line-grey;
}
.wrap-search + .wrap-cont-view{
    border-top:1px solid $line-grey;
}
.wrap-desc{
    padding:10px 16px;
    // @include justify-content(b);
    .wrap-row{
        @include justify-content(space-between);
    }
    .text-desc{
        @include ellipse-one(60%);
        color:$green;
        font-weight:bold;
    }
    .link-more{
        font-size:11px;
        &:after{
            display:inline-block;
            content: '';
            width:7px;
            height:12px;
            margin-left:4px;
            background-image:url(../img/icon-arrow.png);
            background-size:7px 12px;
            vertical-align: top;
        }
    }
}
.wrap-desc + .wrap-info{
    border-top:1px solid #f3f3f3;
}
.wrap-info{
    padding:12px 20px;
    .icon-num{
        position: relative;
        width:22px;
        padding-top:3px;
        text-align:center;
        color:#fff;
        &:after{
            position: absolute;
            top:0;
            left:0;
            content: '';
            width:22px;
            height:27px;
            background-image:url(../img/icon-medal-gold.png);
            background-size:22px 27px;
            z-index: -1;
        }
        &.icon-num-type2{
            &:after{
                background-image:url(../img/icon-medal-silver.png);
            }
        }
        &.icon-num-type3{
            &:after{
                background-image:url(../img/icon-medal-bronze.png);
            }
        }
    }
    .info-desc{
        flex:1;
        padding-left:8px;
        .wrap-row{
            @include align-items(center);
        }
        .desc-item{
            padding-top:6px;
            font-size:11px;
            color:$text-grey;
        }
    }
    .inner-desc{
        padding-left:8px;
        .title{
            font-size:16px;
            font-weight:bold;
            .item{
                padding-lefT:4px;
                font-size:11px;
                color:$text-grey;
            }
        }
        .text-desc{
            display:block;
            font-size:11px;
            color:#000;
        }
        .text-num{
            display:block;
            margin-top:3px;
            font-size:18px;
            color:$green;
            text-decoration: underline;
        }
    }
}
.wrap-info + .wrap-info{
    border-top:1px solid $line-grey;
}
.wrap-cont-box{
    background:$line-grey;
}
.wrap-box{
    .inner-box{
        @include flexbox();
        position: relative;
        padding:8px 7px;
        background-color:#fff;
        border:1px solid #dedede;
    }
    .inner-box + .inner-box{
        margin-top:6px;
    }
    .box-desc{
        width:60px;
        .title-box{
            width: 69px;
            height: 20px;
            background-color: #ecb82f;
            text-align:center;
            color:#fff;
            font-size:10px;
            line-height:20px;
            .item{
                border:1px solid #fff;
            }
        }
        .title-box-green{
            background-color: #55b68f;
        }
        .desc-box{
            display:block;
            width: 69px;
            height: 16px;
            margin-top:2px;
            border: solid 1px #dedede;
            line-height:16px;
            text-align:center;
        }
    }
    .box-desc + .box-desc{
        position: relative;
        flex:1;
        padding-left:8px;
    }
        .text-info{
            @include ellipse-one(70%);
            color:$text-grey;
            .item{
                color:#000;
                font-weight:bold;
            }
            .text-green{
                padding-left:4px;
                color:$green;
            }
            &:last-child{
                width:inherit;
                margin-left:auto;
                text-overflow: initial;
            }
        }
        .title{
            display:block;
            margin-top:5px;
            font-size:12px;
        }
        .text-desc{
            // font-size:9px;
        }
    .box-info + .box-info{
        padding-left:8px;
    }
    .text-desc{
        padding-top:4px;
        font-size:11px;
        .text + .text{
            &:before{
                display:inline-block;
                content:'';
                width:1px;
                height:9px;
                margin:0 7px;
                background-color:#dfdfdf;
                vertical-align: middle;
            }
        }
    }
    .wrap-info-desc{
        margin-top:2px;
        padding-top:5px;
        border-top:1px solid #dedede;
        .desc{
            padding-right:8px;
        }
    }
    .color-orange{
        color:$text-red;
    }
    .color-blue{
        color:#041998;
    }
    
}
.wrap-ad{
    padding:5px 0 5px 16px;
    background-color:#d7ac02;
    color:#fff;
}
.wrap-box + .wrap-ad{
    margin-top:6px;
}
.wrap-yellow + .wrap-box .inner-box{
    border:1px solid #d7ac02;
}
.wrap-ad-green{
    background-color:$line-green;
}
.wrap-ad-green + .wrap-box .inner-box{
    border:1px solid $line-green;
}
.wrap-ad-red{
    background-color:$line-red;
}
.wrap-ad-red + .wrap-box .inner-box{
    border:1px solid $line-red;
}

.wrap-tbl{
    tbody{
        color:$text-grey;
        th{
            width:61px;
            text-align:left;
            font-weight:normal;
        }
        td{
            padding-right:10px;
            &:last-child{
                padding-right:0;
            }
        }
        .item-num{
            color:#110b46;
        }
        .item{
            padding:0;
            padding-right:4px;
            // .item-desc{
            //     padding:0;
            //     color:$text-grey;
            // }
        }
    }
}
.wrap-box + .wrap-add{
    margin-top:7px;
}
.wrap-box + .wrap-box{
    margin-top:7px;
}
