
$line-grey: #f3f3f3;
$text-grey: #5e5e5e;
$text-red:#d14300;
$green: #568000;
$line-green:#92be13;
$line-red:#ee5962;


@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
  }
  
  @mixin justify-content($justify) {
      -webkit-justify-content: $justify;
      -moz-justify-content: $justify;
      -ms-justify-content: $justify;
      justify-content: $justify;
      -ms-flex-pack: $justify;
    }
  
  @mixin align-items($align) {
      -webkit-box-align: $align;
      -webkit-align-items: $align;
      -moz-align-items: $align;
      -ms-align-items: $align;
      -ms-flex-align: $align;
      align-items: $align;
    }
  
    @mixin flex-shrink($shrink) {
      -webkit-flex-shrink: $shrink;
         -moz-flex-shrink: $shrink;
          -ms-flex-shrink: $shrink;
              flex-shrink: $shrink;
    }

@mixin ellipse-one($wid:100%){
	width:$wid; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}

@mixin ellipsis-num ($line-cnt, $line-height) { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: $line-cnt; 
  -webkit-box-orient: vertical; 
  word-wrap:break-word; 
  line-height: $line-height; 
  height: $line-height * $line-cnt;
}
