@charset "UTF-8";
/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0; }

body, input, textarea, select, button, table {
  font-family: 'Malgun Gothic','맑은 고딕','Droid Sans','AppleSDGothicNeo','돋움', Dotum, Helvetica, sans-serif;
  font-size: 12px;
  color: #5e5e5e; }

img, fieldset {
  border: 0; }

ul, ol {
  list-style: none; }

em, address {
  font-style: normal; }

a {
  text-decoration: none;
  color: #5e5e5e; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:active {
  background-color: transparent; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

html, body {
  height: 100%; }

.img-thumb {
  display: block;
  width: 100%; }

button {
  border: 0 none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none; }

/* skip navigation */
.banner img {
  margin: 0 auto;
  width: 320px;
  height: 55px; }

.header {
  padding: 17px 20px; }
  .header .title {
    font-size: 16px; }
  .header .link-search {
    margin-left: auto; }

.wrap-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row; }

.wrap-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }

.thumb58 {
  width: 58px;
  height: 73px;
  border: 1px solid #f3f3f3; }

.thumb60 {
  width: 58px;
  height: 58px;
  border: solid 1px #f3f3f3; }

.thumb69 {
  width: 69px;
  height: 50px;
  border: solid 1px #f3f3f3; }

.title-cont {
  position: relative;
  padding-left: 30px; }

.title-cont:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 0 2px 2px 0;
  background-color: #ff4621; }

/* tabmenu */
.list-tab {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 20px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-bottom: 1px solid #f3f3f3; }
  .list-tab li {
    position: relative;
    flex: 0 0 auto;
    margin-right: 24px;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    box-sizing: border-box; }
    .list-tab li:last-child {
      padding-right: 35px; }
    .list-tab li.on .link-tab {
      width: 100%;
      color: #568000;
      font-weight: bold; }
    .list-tab li.on:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #568000; }

.tab-cont div {
  display: none; }

.tbl {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.tbl thead th {
  padding: 10px 15px;
  background-color: #f7f8fa;
  /* border-left: 1px solid #e6e6e6; */
  border-bottom: 1px solid #f0f1f5;
  font-size: 12px;
  color: #666;
  text-align: left; }

.tbl td {
  /* border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6; */
  line-height: 26px;
  text-align: center; }

.tbl thead {
  border-radius: 4px; }

.tbl tbody tr {
  border-bottom: 1px solid #f0f1f5; }

.tbl .inner-cell {
  padding: 10px 10px 10px; }

.tbl .inner-cell .btn_step {
  margin: 0; }

/* table type2 */
.tbl-info {
  overflow: hidden;
  width: 100%;
  margin-bottom: 17px;
  border-spacing: 0;
  border-top: 1px solid #f0f1f5;
  border-bottom: 1px solid #f0f1f5; }

.tbl-info .txt-info {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #8e8e8e;
  margin-top: -1px; }

.tbl-info th {
  border: 0 none;
  border-bottom: 1px solid #f0f1f5;
  background-color: #f7f8fa;
  text-align: left;
  padding-left: 24px;
  letter-spacing: -1px;
  line-height: 14px; }

.tbl-info .line-last {
  border-bottom: none; }

.td-type {
  border: 0 none;
  border-bottom: 1px solid #f0f1f5;
  padding: 15px 15px; }

.label-type {
  margin: 0 13px 0 7px; }

.box-intro {
  float: left;
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  resize: none;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 10px; }

.thumb-content {
  overflow: hidden; }

.thumb-content .btn-search {
  display: block;
  width: 61px;
  height: 38px;
  margin-left: -1px;
  border: solid 1px #e6e6e6;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  font-size: 11px; }

.thumb-content .chfile {
  overflow: hidden;
  width: 0;
  text-indent: -9999px; }

/* checkbox-radiobox 공통 */
.set-comm {
  overflow: hidden;
  position: relative; }

.set-comm + .set-comm {
  margin-left: 18px; }

.set-comm.set-comm-typ2 {
  line-height: 0;
  vertical-align: middle; }

.set-comm.set-comm-typ2 .lab-check {
  font-size: 0; }

.inp-inner {
  padding-right: 40px; }

.inp-comm .inp {
  width: 100%;
  min-height: 38px;
  padding: 7px 14px 7px 14px;
  border: 0 none;
  line-height: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent; }

.inp-comm .btn-search {
  position: absolute;
  top: 5px;
  right: 18px;
  width: 40px;
  height: 38px;
  text-indent: -9999px; }

.inp-comm .btn-desc {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  padding: 3px 10px;
  border: 1px solid #eee; }

/* checkbox  */
.set-comm .inp-check {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: 1;
  border: 0;
  opacity: .01;
  -ms-filter: "alpha(opacity=1)";
  cursor: pointer; }

.set-comm .lab-check {
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 25px;
  font-size: 13px;
  color: #1e1e1e;
  line-height: 22px;
  cursor: pointer; }

.set-comm .ico-check {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #f7f8fa;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background-image: url(../img/icon-check-default.png);
  background-size: 16px 16px; }

.set-comm .inp-check:checked + .lab-check .ico-check:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/icon-check-option.png);
  background-size: 16px 16px; }

#aside_wrap {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 9999; }

#aside_wrap .aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  min-height: 100%;
  z-index: 999;
  font-size: 15px;
  background: #f3f3f3;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: translate3d(-100%, 0, 0) scale(1);
  transform: translate3d(-100%, 0, 0) scale(1); }

#aside_wrap .aside.open {
  -webkit-transform: translate3d(0px, 0px, 0px); }

#aside_wrap .aside .head {
  padding: 17px 15px;
  background: #7bb604;
  overflow: hidden; }

#aside_wrap .aside .head #btn_login {
  display: block;
  margin-bottom: 5px;
  padding-left: 26px;
  font-size: 17px;
  color: #fff;
  line-height: 26px;
  font-weight: bold;
  background: url("../img/logout.png") 0 center no-repeat;
  background-size: 18px auto; }

#aside_wrap .aside .head #logged_name {
  float: left;
  font-size: 17px;
  line-height: 26px;
  font-weight: bold; }

#aside_wrap .aside .head .btn_wrap {
  margin-top: 8px;
  clear: both; }

#aside_wrap .aside .head #btn_logout {
  float: right;
  margin-right: 10px;
  padding-left: 15px;
  font-size: 11px;
  line-height: 26px;
  background: url("../img/logout.png") 0 center no-repeat;
  background-size: 10px auto; }

#aside_wrap .aside .head .btn_mypage,
#aside_wrap .aside .head .btn_join {
  float: right;
  padding: 0 8px;
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 24px;
  color: #fff; }

#aside_wrap .aside .head .btn_mymodify {
  float: left;
  padding: 1px 8px;
  font-size: 12px;
  border: 1px solid #5f8a08 !important;
  line-height: 24px;
  letter-spacing: 0; }

.btn_mymodify {
  padding: 0 8px;
  border: 1px solid #70a00d !important;
  color: #333;
  background: #d6f74c;
  line-height: 26px;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -1px; }

.btn_mymodify:before {
  display: inline-block;
  width: 20px;
  height: 18px;
  overflow: hidden;
  margin-right: 6px;
  background: url("../img/bullet_spt.png") no-repeat 0 -623px;
  background-size: 50px auto;
  vertical-align: middle;
  content: ''; }

.aside h2 {
  height: 21px;
  padding-left: 15px;
  border-bottom: 1px solid #b5b5b5;
  background: #c0c0c0;
  color: #fff;
  font-size: 0.81em;
  line-height: 1.9; }

.aside_cate .depth1 > li {
  display: block;
  position: relative;
  min-height: 43px;
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #fff; }

.aside_cate .depth1 > li:first-child {
  border: 0 none; }

.aside_cate .depth1 > li span {
  display: block;
  margin: 10px 0 8px 17px;
  font-size: 1.125rem;
  line-height: 1.6; }

.aside_cate .depth1 > li span:before {
  display: inline-block;
  width: 33px;
  height: 35px;
  margin-right: 10px;
  border-radius: 30px;
  background: url("../img/aside_spt.png") no-repeat;
  background-size: 40px auto;
  vertical-align: middle;
  content: ''; }

.aside_cate .depth1 > li:nth-child(1) span:before {
  background-position: 0 -30px; }

.aside_cate .depth1 > li:nth-child(2) span:before {
  background-position: 0 -65px; }

.aside_service li {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff; }

.aside_service li a {
  display: block;
  padding: 11px 0 9px 23px;
  /*padding:12px 0 10px 23px;*/
  color: #666;
  font-size: 1.063rem; }

.aside_service li a:before {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -2px 12px 0 0;
  background: url("../img/aside_spt.png") no-repeat;
  background-size: 40px auto;
  vertical-align: middle;
  content: ''; }

.aside_service li a.n1:before {
  background-position: 0 -100px; }

.aside_service li a.n2:before {
  background-position: 0 -130px; }

.aside_service li a.n3:before {
  background-position: 0 -160px; }

.aside_service li a.n4:before {
  background-position: 0 -190px; }

.aside_service li a.n5:before {
  background-position: 0 -220px; }

.aside_service li a.n6:before {
  background-position: 0 -250px; }

.aside_service li a.n7:before {
  background-position: 0 -280px; }

.aside_service li a.n8:before {
  background-position: 0 -310px; }

.aside_service li a.n7 {
  color: #1261b0; }

.aside_service1 li {
  height: 38px;
  border-bottom: 1px solid #ebebeb;
  background: #c0c0c0; }

/* navi 하단 로그아웃영역  */
#aside_wrap .btn_close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 47px; }

.aside_active #aside_wrap .btn_close {
  display: block;
  text-indent: -9999px; }

#aside_wrap .btn_close span {
  display: block;
  width: 24px;
  height: 24px;
  background-position: 0 0; }

#aside_wrap .btn_close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 47px; }

.aside_active #aside_wrap .btn_close {
  display: block;
  text-indent: -9999px; }

#aside_wrap .btn_close span {
  display: block;
  width: 24px;
  height: 24px;
  background-position: 0 0; }

.aside_spt {
  background: url("../img/aside_spt.png") no-repeat;
  background-size: 40px auto; }

.wrap-header.fixed {
  height: 55px; }
  .wrap-header.fixed .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    box-sizing: border-box; }

.header .wrap-row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header .btn-menu {
  display: block;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-menu.png);
  background-repeat: no-repeat;
  background-size: 20px 18px;
  text-indent: -9999px;
  border: 0 none; }

.header .btn-back {
  display: block;
  width: 20px;
  height: 16px;
  background-image: url(../img/icon-back.png);
  background-repeat: no-repeat;
  background-size: 20px 18px;
  text-indent: -9999px; }

.header .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 12px;
  line-height: 16px; }

.header .search-text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  padding-left: 12px;
  line-height: 20px;
  font-weight: bold; }

.header .link-search {
  display: block;
  width: 26px;
  height: 21px;
  background-image: url(../img/icon-search2.png);
  background-repeat: no-repeat;
  background-size: 22px 21px;
  text-indent: -9999px; }

.wrap-banner {
  padding: 8px 0;
  background: #f3f3f3; }

.wrap-cont-view {
  padding: 14px 16px; }
  .wrap-cont-view .wrap-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .wrap-cont-view .link-view {
    padding: 6px 14px;
    border-radius: 2px;
    border: solid 1px #dedede; }
  .wrap-cont-view .text-desc {
    padding-left: 8px;
    font-size: 11px;
    color: #000;
    font-weight: bold; }

.wrap-sort {
  padding: 12px 16px;
  background-color: #f3f3f3; }
  .wrap-sort .wrap-row {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
  .wrap-sort .desc {
    font-weight: bold;
    font-size: 11px; }
  .wrap-sort .btn-sort .text {
    vertical-align: middle;
    font-size: 12px; }
  .wrap-sort .btn-sort .icon-up {
    display: inline-block;
    width: 5px;
    height: 4px;
    background: url(../img/icon-arrow-up.png);
    background-size: 5px 4px;
    vertical-align: middle; }
  .wrap-sort .btn-sort .icon-down {
    display: inline-block;
    width: 5px;
    height: 4px;
    background: url(../img/icon-arrow-down.png);
    background-size: 5px 4px;
    vertical-align: middle; }
  .wrap-sort .btn-sort.up .text {
    font-weight: bold; }
  .wrap-sort .btn-sort.up .icon-up {
    background: url(../img/icon-arrow-upOn.png);
    background-size: 5px 4px; }
  .wrap-sort .btn-sort.down .text {
    font-weight: bold; }
  .wrap-sort .btn-sort.down .icon-down {
    background: url(../img/icon-arrow-downOn.png);
    background-size: 5px 4px; }

.wrap-add {
  margin: 0 auto;
  height: 30px;
  background-image: url(../img/thumb/title-big-jpad.png);
  background-color: #8CC53F;
  background-size: 360px 30px;
  background-repeat: no-repeat;
  background-position: center center; }
  .wrap-add .wrap-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    height: 30px; }
  .wrap-add .text-add {
    font-size: 14px;
    color: #fff; }
  .wrap-add .desc-add {
    padding-left: 6px;
    font-size: 12px;
    color: #fff; }

.wrap-add2 {
  background-image: url(../img/thumb/title-big-jpfree.png);
  background-color: #9DA3BB;
  background-size: 360px 30px;
  background-repeat: no-repeat;
  background-position: center center; }

.list-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .list-menu li {
    width: 14.27%;
    height: 41px;
    margin-top: 2px;
    margin-left: -1px;
    text-align: center;
    background: #82b012;
    border: 1px solid #70a00d;
    color: #dae7b8; }
    .list-menu li .link-menu {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      font-size: 11px;
      color: #dae7b8;
      text-decoration: none; }
      .list-menu li .link-menu:before {
        display: block;
        content: '';
        margin: 0 auto;
        width: 20px;
        height: 22px;
        background: url(../img/cate_tab_spt.png) no-repeat;
        background-position: 0 5px;
        background-size: 75px auto; }
    .list-menu li .link-menu-eatery:before {
      background-position: 0 -20px;
      background-size: 75px auto; }
    .list-menu li .link-menu-west:before {
      background-position: 0 -45px;
      background-size: 75px auto; }
    .list-menu li .link-menu-ent:before {
      background-position: 0 -70px;
      background-size: 75px auto; }
    .list-menu li .link-menu-sales:before {
      background-position: 0 -96px;
      background-size: 75px auto; }
    .list-menu li .link-menu-service:before {
      background-position: 0 -120px;
      background-size: 75px auto; }
    .list-menu li .link-menu-etc:before {
      background-position: 0 -145px;
      background-size: 75px auto; }
  .list-menu li.on {
    margin-top: 0;
    border-radius: 3px; }
    .list-menu li.on:first-child {
      margin-left: 0px; }
    .list-menu li.on .link-menu {
      height: 46px;
      background: #fff;
      font-weight: 700;
      color: #5f9408;
      text-align: center; }
      .list-menu li.on .link-menu:before {
        background-position: -25px 5px; }

.cont-menu {
  overflow: hidden;
  padding: 15px 0;
  white-space: nowrap; }

.list-cont {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap; }
  .list-cont li {
    width: 20%;
    margin-bottom: 10px;
    text-align: center; }
    .list-cont li .link-cont-menu {
      display: block; }
      .list-cont li .link-cont-menu .icon {
        width: 36px;
        height: 31px; }
      .list-cont li .link-cont-menu .text {
        display: block; }

.wrap-item-fixed.fixed {
  height: 132px; }
  .wrap-item-fixed.fixed .item-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    box-sizing: border-box; }

.wrap-search {
  position: relative;
  padding: 5px 16px; }
  .wrap-search .inp-comm {
    background-color: #f3f3f3;
    border: 0 none; }
  .wrap-search .ico-search {
    display: block;
    margin: 0 auto;
    width: 22px;
    height: 21px;
    background-image: url(../img/icon-search3.png);
    background-size: 22px 21px; }

.wrap-search + .wrap-desc {
  border-top: 1px solid #f3f3f3; }

.wrap-search + .wrap-cont-view {
  border-top: 1px solid #f3f3f3; }

.wrap-desc {
  padding: 10px 16px; }
  .wrap-desc .wrap-row {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
  .wrap-desc .text-desc {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #568000;
    font-weight: bold; }
  .wrap-desc .link-more {
    font-size: 11px; }
    .wrap-desc .link-more:after {
      display: inline-block;
      content: '';
      width: 7px;
      height: 12px;
      margin-left: 4px;
      background-image: url(../img/icon-arrow.png);
      background-size: 7px 12px;
      vertical-align: top; }

.wrap-desc + .wrap-info {
  border-top: 1px solid #f3f3f3; }

.wrap-info {
  padding: 12px 20px; }
  .wrap-info .icon-num {
    position: relative;
    width: 22px;
    padding-top: 3px;
    text-align: center;
    color: #fff; }
    .wrap-info .icon-num:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 22px;
      height: 27px;
      background-image: url(../img/icon-medal-gold.png);
      background-size: 22px 27px;
      z-index: -1; }
    .wrap-info .icon-num.icon-num-type2:after {
      background-image: url(../img/icon-medal-silver.png); }
    .wrap-info .icon-num.icon-num-type3:after {
      background-image: url(../img/icon-medal-bronze.png); }
  .wrap-info .info-desc {
    flex: 1;
    padding-left: 8px; }
    .wrap-info .info-desc .wrap-row {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .wrap-info .info-desc .desc-item {
      padding-top: 6px;
      font-size: 11px;
      color: #5e5e5e; }
  .wrap-info .inner-desc {
    padding-left: 8px; }
    .wrap-info .inner-desc .title {
      font-size: 16px;
      font-weight: bold; }
      .wrap-info .inner-desc .title .item {
        padding-lefT: 4px;
        font-size: 11px;
        color: #5e5e5e; }
    .wrap-info .inner-desc .text-desc {
      display: block;
      font-size: 11px;
      color: #000; }
    .wrap-info .inner-desc .text-num {
      display: block;
      margin-top: 3px;
      font-size: 18px;
      color: #568000;
      text-decoration: underline; }

.wrap-info + .wrap-info {
  border-top: 1px solid #f3f3f3; }

.wrap-cont-box {
  background: #f3f3f3; }

.wrap-box .inner-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding: 8px 7px;
  background-color: #fff;
  border: 1px solid #dedede; }

.wrap-box .inner-box + .inner-box {
  margin-top: 6px; }

.wrap-box .box-desc {
  width: 60px; }
  .wrap-box .box-desc .title-box {
    width: 69px;
    height: 20px;
    background-color: #ecb82f;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 20px; }
    .wrap-box .box-desc .title-box .item {
      border: 1px solid #fff; }
  .wrap-box .box-desc .title-box-green {
    background-color: #55b68f; }
  .wrap-box .box-desc .desc-box {
    display: block;
    width: 69px;
    height: 16px;
    margin-top: 2px;
    border: solid 1px #dedede;
    line-height: 16px;
    text-align: center; }

.wrap-box .box-desc + .box-desc {
  position: relative;
  flex: 1;
  padding-left: 8px; }

.wrap-box .text-info {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5e5e5e; }
  .wrap-box .text-info .item {
    color: #000;
    font-weight: bold; }
  .wrap-box .text-info .text-green {
    padding-left: 4px;
    color: #568000; }
  .wrap-box .text-info:last-child {
    width: inherit;
    margin-left: auto;
    text-overflow: initial; }

.wrap-box .title {
  display: block;
  margin-top: 5px;
  font-size: 12px; }

.wrap-box .box-info + .box-info {
  padding-left: 8px; }

.wrap-box .text-desc {
  padding-top: 4px;
  font-size: 11px; }
  .wrap-box .text-desc .text + .text:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 9px;
    margin: 0 7px;
    background-color: #dfdfdf;
    vertical-align: middle; }

.wrap-box .wrap-info-desc {
  margin-top: 2px;
  padding-top: 5px;
  border-top: 1px solid #dedede; }
  .wrap-box .wrap-info-desc .desc {
    padding-right: 8px; }

.wrap-box .color-orange {
  color: #d14300; }

.wrap-box .color-blue {
  color: #041998; }

.wrap-ad {
  padding: 5px 0 5px 16px;
  background-color: #d7ac02;
  color: #fff; }

.wrap-box + .wrap-ad {
  margin-top: 6px; }

.wrap-yellow + .wrap-box .inner-box {
  border: 1px solid #d7ac02; }

.wrap-ad-green {
  background-color: #92be13; }

.wrap-ad-green + .wrap-box .inner-box {
  border: 1px solid #92be13; }

.wrap-ad-red {
  background-color: #ee5962; }

.wrap-ad-red + .wrap-box .inner-box {
  border: 1px solid #ee5962; }

.wrap-tbl tbody {
  color: #5e5e5e; }
  .wrap-tbl tbody th {
    width: 61px;
    text-align: left;
    font-weight: normal; }
  .wrap-tbl tbody td {
    padding-right: 10px; }
    .wrap-tbl tbody td:last-child {
      padding-right: 0; }
  .wrap-tbl tbody .item-num {
    color: #110b46; }
  .wrap-tbl tbody .item {
    padding: 0;
    padding-right: 4px; }

.wrap-box + .wrap-add {
  margin-top: 7px; }

.wrap-box + .wrap-box {
  margin-top: 7px; }

.cont {
  padding-bottom: 90px; }

.box {
  height: 6px;
  background-color: #f3f3f3; }

.slide {
  position: relative;
  overflow: hidden;
  white-space: nowrap; }
  .slide img {
    display: block;
    width: 100%; }
  .slide .inner-slide {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap; }
  .slide .btn-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
    background: url(../img/icon-arrow-prev.png);
    background-size: 20px 20px;
    text-indent: -9999px; }
  .slide .btn-next {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
    background: url(../img/icon-arrow-next.png);
    background-size: 20px 20px;
    text-indent: -9999px; }
  .slide .num-page {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 6px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; }

.slide-info {
  padding: 10px 16px; }
  .slide-info .wrap-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .slide-info .text-info {
    padding-left: 10px;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    font-weight: bold; }

.wrap-list-tab.fixed {
  height: 49px; }
  .wrap-list-tab.fixed .inner-tab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    box-sizing: border-box; }

.wrap-list-tab {
  position: relative; }
  .wrap-list-tab .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    background: url(../img/icon-tab-next.png) rgba(255, 255, 255, 0.8) no-repeat;
    background-size: 9px 16px;
    background-position: 50% 50%;
    border: solid 1px #d6d6d6;
    text-indent: -9999px; }
  .wrap-list-tab .btn-prev {
    left: 0;
    background: url(../img/icon-tab-prev.png) rgba(255, 255, 255, 0.8) no-repeat;
    background-size: 9px 16px;
    background-position: 50% 50%; }

.info-text {
  padding: 12px 18px; }

.info-text + .info-data {
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3; }

.info-data {
  padding: 8px 16px; }
  .info-data .list-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; }
    .info-data .list-info li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50%; }
    .info-data .list-info li + li {
      margin-bottom: 4px; }
  .info-data .box-info {
    display: block;
    width: 84px;
    height: 24px;
    margin-right: 8px;
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    border: solid 1px #dedede; }
    .info-data .box-info.box-info-green {
      background-color: #7bb603;
      color: #fff; }
    .info-data .box-info.box-info-yellow {
      background-color: #d7ac02;
      color: #fff; }
    .info-data .box-info.box-info-red {
      background-color: #da4600;
      color: #fff; }

.data-info {
  padding: 0 16px; }
  .data-info .wrap-row {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .data-info .wrap-row .link-register {
      margin-left: 4px;
      padding: 6px 10px;
      border-radius: 2px;
      border: solid 1px #dedede; }

.list-data {
  margin: 16px 16px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }
  .list-data .text-num {
    font-weight: 500;
    color: #000; }
  .list-data li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 7px 0;
    border-top: 1px solid #dedede; }
    .list-data li:first-child {
      border-top: 0; }
    .list-data li:last-child {
      border-top: 1px solid #000; }
    .list-data li .inner-info {
      flex: 1;
      align-self: center; }
      .list-data li .inner-info .item-info + .item-info {
        padding-top: 4px; }
      .list-data li .inner-info.inner-info-align {
        align-self: flex-start; }
    .list-data li .inner-info + .inner-info {
      padding-left: 20px; }
    .list-data li .item-info {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .list-data li .icon-box {
      padding: 4px 15px;
      color: #fff;
      border-radius: 2px;
      background-color: #373960; }

.wrap-info-data {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }

.wrap-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #7bb603; }
  .wrap-link .link-text {
    flex: 1;
    line-height: 30px;
    font-size: 16px;
    align-self: center;
    color: #fff;
    text-align: center; }
  .wrap-link .link-text + .link-text {
    border-left: 1px solid #fff; }

.tit_intro {
  padding: 14px 16px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #f3f3f3; }

.view-info {
  padding: 17px 20px; }
  .view-info .inner-view {
    overflow: hidden;
    height: 180px;
    background-color: #000; }
  .view-info .inner-view + .inner-view {
    margin-top: 10px; }

.wrap-info-cont {
  padding: 16px 16px; }
  .wrap-info-cont .title {
    color: #000;
    font-weight: 500; }
  .wrap-info-cont .text-desc {
    margin-left: auto; }
  .wrap-info-cont .cont-tbl + .wrap-row {
    padding-top: 24px; }

.cont-tbl {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.tbl th {
  width: 68px;
  font-weight: normal;
  border-right: 1px solid #f0f1f5; }
  .tbl th.left-border {
    border-left: 1px solid #f0f1f5; }

.tbl td {
  color: #000; }

.tbl th, .tbl td {
  padding: 8px 6px;
  text-align: left; }

.tbl .item-size {
  width: 84px; }

.inner-blog {
  padding: 14px 20px; }
  .inner-blog .link-title {
    color: #3d3dd5; }
  .inner-blog .text-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 2.4em;
    padding-top: 4px;
    color: #000; }
  .inner-blog .wrap-row {
    padding-top: 4px; }
  .inner-blog .text {
    flex-basis: 100px;
    padding-right: 10px; }
  .inner-blog .link-url {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    color: #55a570; }

.inner-blog {
  border-bottom: 1px solid #f3f3f3; }

.wrap-box-type2 .inner-box {
  border: none; }

.wrap-box-type2 .box-desc {
  width: 69px; }

.wrap-box-type2 .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #000; }

.wrap-box-type2 .text-info {
  width: inherit;
  text-overflow: inherit; }

.wrap-box-type2 .text-info + .text-info {
  padding-left: 3px; }

.wrap-box-type2 .info-cell {
  padding-top: 5px; }
  .wrap-box-type2 .info-cell .color-orange {
    font-weight: bold; }

.wrap-box-type2 .inner-cell + .inner-cell {
  margin-left: auto; }
